@using Nop.Core
@using Nop.Services.Common
@inject IWorkContext workContext;
@inject IGenericAttributeService genericAttributeService;

@model ProductBrochureModel

@{
    var customer = await workContext.GetCurrentCustomerAsync();
    const string hideProductBrochureBlockAttributeName = "GeneratorShop.ProductBrochureViewComponent.HideProductBrochureBlock";
    var hideProductBrochureBlock = await genericAttributeService.GetAttributeAsync<bool>(customer, hideProductBrochureBlockAttributeName);
}

<nop-card asp-name="product-download-attachment" asp-icon="fas fa-download" asp-title="@T("NopStation.Plugin.Theme.GeneratorShop.Products.ProductBrochure.Header")" asp-hide-block-attribute-name="@hideProductBrochureBlockAttributeName" asp-hide="@hideProductBrochureBlock">
  
    <div class="card-body"  id="productBrochure-form">

        @await Html.PartialAsync("_ProductBrochureModel.Info", Model)

        <div class="form-group row">
            <div class="col-md-3">
                <nop-label asp-for="ButtonText" />
            </div>
            <div class="col-md-9">
                <nop-editor asp-for="ButtonText" />
                <span asp-validation-for="ButtonText"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-3">
                <nop-label asp-for="ProductDownloadId" />
            </div>
            <div class="col-md-9">
                <nop-editor asp-for="ProductDownloadId" />
                <span asp-validation-for="ProductDownloadId"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-3">
                <nop-label asp-for="DisplayOrder" />
            </div>
            <div class="col-md-9">
                <nop-editor asp-for="DisplayOrder" />
                <span asp-validation-for="DisplayOrder"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-3">
                <nop-label asp-for="IsActive" />
            </div>
            <div class="col-md-9">
                <nop-editor asp-for="IsActive" />
                <span asp-validation-for="IsActive"></span>
            </div>
        </div>
        <div class="card-footer">
            <div class="float-right">
                <button type="button" id="submitDownloadAttachment" name="save" class="btn btn-primary">
                    <i class="far fa-save"></i>
                    @T("Admin.Common.Save")
                </button>
            </div>
        </div>
    </div>


    <script>
        $(document).ready(function () {
            $('#submitDownloadAttachment').click(function (e) {
                e.preventDefault();
                var formData = {
                    ButtonText: $("#@Html.IdFor(Model=>Model.ButtonText)").val(),
                    ProductDownloadId: $("#@Html.IdFor(Model => Model.ProductDownloadId)").val() ,
                    DisplayOrder: $("#productBrochure-form").find("#@Html.IdFor(Model => Model.DisplayOrder)").val(),
                    IsActive: $("#@Html.IdFor(Model => Model.IsActive)").is(':checked'),
                    ProductId: @Model.ProductBrochureSearchModel.ProductId
                    };
                addAntiForgeryToken(formData);

                console.log("formData: ",formData);

                $.ajax({
                    cache: false,
                    method: "POST",
                    url: '@Url.Action("Create", "ProductBrochure", new { area = "Admin" })',
                    data: formData,
                    success: function (response) {
                        if (response.success) {
                            alert("Download attachment created successfully.");
                            updateTable('#productBrochure-grid');
                            $("#@Html.IdFor(Model => Model.ButtonText)").val('');
                            $("#@Html.IdFor(Model => Model.ProductDownloadId)").val('');
                            $("#productBrochure-form").find("#@Html.IdFor(Model => Model.DisplayOrder)").val('');
                            $("#@Html.IdFor(Model => Model.IsActive)").prop('checked', false);

                        } else {
                            alert(response.message || "An error occurred.");
                        }
                    },
                    error: function () {
                        alert("An unexpected error occurred while processing your request.");
                    }
                });
            });
        });
    </script>

</nop-card>

