@model ShareMediaSearchModel

@{
    Layout = "_AdminLayout";
    //page title
    ViewBag.PageTitle = T("Admin.Widget.ShareMedia").Text;
    //active menu item (system name)
    NopHtml.SetActiveMenuItemSystemName("Employees");
}


@{
    const string hideSearchBlockAttributeName = "EmployeePage.HideSearchBlock";
    var hideSearchBlock = await genericAttributeService.GetAttributeAsync<bool>(await workContext.GetCurrentCustomerAsync(), hideSearchBlockAttributeName);
}

<div class="content-header clearfix">
    <h1 class="float-left">
        @T("Admin.Widget.ShareMedia")
    </h1>
    <div class="float-right">
        <a asp-action="Create" class="btn btn-primary">
            <i class="fas fa-plus-square"></i>
            @T("Admin.Common.AddNew")
        </a>



        <button type="button" id="delete-selected" class="btn btn-danger">
            <i class="far fa-trash-alt"></i>
            @T("Admin.Common.Delete.Selected")
        </button>
        <nop-action-confirmation asp-button-id="delete-selected" />

    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="form-horizontal">
            <div class="cards-group">

                <div class="card card-default">
                    <div class="card-body">
                        
                        @await Html.PartialAsync("Table", new DataTablesModel
                        {
                            Name = "test-table",
                            UrlRead = new DataUrl("List", "ShareMedia", null),
                            SearchButtonId = "test-table-search-btn",
                            Length = Model.PageSize,
                            LengthMenu = Model.AvailablePageSizes,
                            ColumnCollection = new List<ColumnProperty>
                            {

                            new ColumnProperty(nameof(ShareMediaModel.Id))
                            {
                            IsMasterCheckBox = true,
                            Render = new RenderCheckBox("checkbox_employees"),
                            ClassName = NopColumnClassDefaults.CenterAll,
                            Width = "50"
                            },

                            new ColumnProperty(nameof(ShareMediaModel.IconThumbnailUrl))
                            {
                             Title = T("Admin.Widget.SocialMediaSharing.Model.Icon").Text ,
                            Width = "100",
                            Render = new RenderPicture(width:100)
                            },

                            new ColumnProperty(nameof(ShareMediaModel.Name))
                            {
                            Title = T("Admin.Widget.SocialMediaSharing.Model.Name").Text
                            },

                            new ColumnProperty(nameof(ShareMediaModel.Url))
                            {
                            Title = T("Admin.Widget.SocialMediaSharing.Model.Url").Text
                            },

                            new ColumnProperty(nameof(ShareMediaModel.IsActive))
                            {
                            Title = T("Admin.Widget.SocialMediaSharing.Model.IsActive").Text,
                            Width = "100",
                            ClassName = NopColumnClassDefaults.CenterAll,
                            Render = new RenderBoolean()
                            },

                            new ColumnProperty(nameof(ShareMediaModel.Id))
                            {
                                Title = T("Admin.Widget.SocialMediaSharing.Model.Id").Text,
                                Width = "100",
                                ClassName = NopColumnClassDefaults.Button,
                                Render = new RenderButtonEdit(new DataUrl("Edit"))
                            }
                                

                            }
                        })

                        <script>
                            $(document).ready(function () {
                                $('#delete-selected-action-confirmation-submit-button').bind('click', function () {
                                    let postData = {
                                        selectedId: selectedIds
                                    };
                                    addAntiForgeryToken(postData);
                                    console.log(postData);
                                    $.ajax({
                                        cache: false,
                                        type: "POST",
                                        url: "@(Url.Action("DeleteSelected", "ShareMedia"))",
                                        data: postData,
                                        error: function (jqXHR, textStatus, errorThrown) {
                                            showAlert('deleteSelectedFailed', errorThrown);
                                        },
                                        complete: function (jqXHR, textStatus) {
                                            if (jqXHR.status === 204) {
                                                showAlert('nothingSelectedAlert', '@T("Admin.Common.Alert.NothingSelected")');
                                                return;
                                            }
                                            updateTable('#test-table');
                                        }
                                    });
                                    $('#delete-selected-action-confirmation').modal('toggle');
                                    return false;
                                });
                            });
                        </script>

                        <nop-alert asp-alert-id="deleteSelectedFailed" />
                        <nop-alert asp-alert-id="nothingSelectedAlert" />
                    </div>
                </div> 
              
            </div>
        </div>
    </div>
</section>