 

@model ShareMediaModel

    <div class="card-body">
        <div class="cards-group">
            

            @if (Model.Id > 0)
            {
                <div class="card card-default">
                    <div class="card-body">


                        

                        @await Html.PartialAsync("Table", new DataTablesModel
                        {
                            Name = "ShareOption-grid",
                            UrlRead = new DataUrl("ShareOptionList", "ShareMedia", new RouteValueDictionary { [nameof(Model.ShareOptionSearchModel.ShareMediaId)] = Model.Id}),
                            UrlUpdate = new DataUrl("ShareOptionUpdate", "ShareMedia", null),
                            UrlDelete = new DataUrl("ShareOptionDelete", "ShareMedia", null),
                           //SearchButtonId = "search-resources",
                            
                            Length = Model.ShareOptionSearchModel.PageSize,
                            LengthMenu = Model.ShareOptionSearchModel.AvailablePageSizes,
                          

                            ColumnCollection = new List<ColumnProperty>
                            {
                                new ColumnProperty(nameof(ShareOptionModel.CustomMessage))
                                {
                                Title = T("Admin.ShareMediaOption.ShareOption.Fields.CustomMessage").Text,
                                    Width = "300",
                                    Editable = true,
                                    EditType = EditType.String
                                },
                            new ColumnProperty(nameof(ShareOptionModel.IncludedLink))
                                {
                                    Title = T("Admin.ShareMediaOption.ShareOption.Fields.IncludedLink").Text,
                                    Editable = true,
                                    EditType = EditType.String
                                },
                            new ColumnProperty(nameof(ShareOptionModel.zone))
                                {
                          Title = T("Admin.ShareMediaOption.ShareOption.Fields.zone").Text,
                                    Width = "300",
                                    Editable = true,
                                    EditType = EditType.String
                                },


                               new ColumnProperty(nameof(ShareOptionModel.Id))
                                {
                                    Title = T("Admin.Common.Edit").Text,
                                    Width = "100",
                                    ClassName =  NopColumnClassDefaults.Button,
                                    Render = new RenderButtonsInlineEdit()
                                },
                                   new ColumnProperty(nameof(ShareOptionModel.Id))
                                {
                                    Title = T("Admin.Common.Delete").Text,
                                    Width = "100",
                                    ClassName =  NopColumnClassDefaults.Button,
                                    Render = new RenderButtonRemove(T("Admin.Common.Delete").Text)
                                }

                            }
                        })

                        









                        <div class="card card-default no-margin">
                            <div class="card-header">
                                @T("Admin.Common.AddNewRecord")
                            </div>
                            <div class="card-body">
                                <div class="form-group row">
                                    <div class="col-md-3">
                                    
                                     <nop-label asp-for="@Model.ShareOptionSearchModel.CustomMessage" />
                                    </div>
                                    <div class="col-md-9">
                                    <nop-textarea asp-for="@Model.ShareOptionSearchModel.CustomMessage" />
                                    @* <span asp-validation-for="@Model.ShareOptionSearchModel.CustomMessage"></span> *@
                                    </div>
                                </div>


                                <div class="form-group row">
                                    <div class="col-md-3">
                                    <nop-label asp-for="@Model.ShareOptionSearchModel.IncludedLink" />
                                    </div>
                                    <div class="col-md-9">
                                    <nop-editor asp-for="@Model.ShareOptionSearchModel.IncludedLink" role="checkbox"/>
                                    @* <span asp-validation-for="@Model.ShareOptionSearchModel.IncludedLink"></span> *@
                                    </div>
                                </div>


                            <div class="form-group row">
                                <div class="col-md-3">
                                    <nop-label asp-for="@Model.ShareOptionSearchModel.zone" />
                                </div>
                                <div class="col-md-9">
                                    <nop-select asp-for="@Model.ShareOptionSearchModel.zone" asp-items="@Model.ShareOptionSearchModel.WidgetZoneList" />
                                    <span asp-validation-for="@Model.ShareOptionSearchModel.zone"></span>
                                </div>
                            </div>


                                <div class="form-group row">
                                    <div class="col-md-9 offset-md-3">
                                        <button type="button" id="addShareOption" class="btn btn-primary">@T("Admin.Common.AddNewRecord")</button>
                                    </div>
                                </div>
                            </div>

                            
                            <script>

                                $(function() {
                                      $('#addShareOption').click(function () {
                                       $('#addShareOption').attr('disabled', true);

                                        var value = false;
                                          if ($("#@Html.IdFor(Model=>Model.ShareOptionSearchModel.IncludedLink)").is(':checked'))
                                              value = true;
                                           

                                       

                                        var postData = {
                                            CustomMessage:$("#@Html.IdFor(Model=>Model.ShareOptionSearchModel.CustomMessage)").val(),
                                           // IncludedLink: $("#@Html.IdFor(Model => Model.ShareOptionSearchModel.IncludedLink)").attr('checked'),
                                           IncludedLink:value,
                                           
                                           zone: $("#@Html.IdFor(Model => Model.ShareOptionSearchModel.zone)").val()

                                        };


                                        
                                        console.log("postdata messga", postData);
                                       

                                        addAntiForgeryToken(postData);

                                        $.ajax({
                                            cache: false,
                                            type: "POST",
                                            url: "@Html.Raw(Url.Action("ShareOptionAdd", "ShareMedia", new { shareMediaId = Model.Id }))",
                                            data: postData,
                                            success: function (data, textStatus, jqXHR) {
                                                if (data.Result) {
                                                    //reload grid
                                                  updateTable('#ShareOption-grid');

                                                    //clear input value
                                                   
                                                $("#@Html.IdFor(Model => Model.ShareOptionSearchModel.CustomMessage)").val('');
                                                $("#@Html.IdFor(Model => Model.ShareOptionSearchModel.IncludedLink)").val('').attr('checked', false);
                                                $("#@Html.IdFor(Model => Model.ShareOptionSearchModel.zone)").val('');


                                                } else {
                                                    //display errors if returned
                                                    display_nop_error(data);
                                                }
                                            },
                                            complete: function (jqXHR, textStatus) {
                                                 $('#addShareOption').attr('disabled', false);
                                            }
                                        });
                                    });
                                });
                            </script>
                            
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>